<div class="top-part">
  <h4>Testing HTTP</h4>
  <input class="form-control" placeholder="What do you need to do?" type="text" [(ngModel)]="newTodo.title"
         (keyup.enter)="onAddTodo()" id="submit">
  <button (click)="onAddTodo()" class="btn btn-dark">Submit</button>
</div>
<section class="main">
  <ul class="todo-list">
    <li *ngFor="let todo of todos" [class.completed]="todo.complete">
      <app-todo-list-item [todo]="todo"
                          (toggleComplete)="onToggleTodoComplete($event)"
                          (remove)="onRemoveTodo($event)">
      </app-todo-list-item>
    </li>
  </ul>
</section>
<hr class="hrr"/>
<div><h4>Testing pipes: </h4>
  The length of the TODO's on pow is:
  {{ todos.length | myPipe: 2}} </div>
<hr class="hrr"/>
